<div class="main">
    <div class="sub-main">
        <div class="header">
            <div class="group1">
                <div class="h-box1">
                    <div class="h-box1-pending">
                        <label for="">Pending</label>
                    </div>
                    <div class="h-box1-complete">
                        <label for="">Complete</label>
                    </div>
                </div>

                <div class="h-box2">
                    <div class="h-box2-search">
                        <input type="text" placeholder="">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </div>
                </div>
            </div>

            <div class="group2">
                <div class="h-box3">
                    <div class="h-box3-page">
                        <div class="label1">
                            <p>18 Total</p>
                        </div>
                        <div class="label2">
                            <span class="material-symbols-outlined">
                                arrow_left
                            </span>
                            <input type="text" name="" id="" placeholder="1">
                            <span class="material-symbols-outlined">
                                arrow_right
                            </span>
                        </div>
                        <div class="label3">
                            <p>1 Page</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="body">
            <table style="width: 100%;">
                <tr>
                    <th style="width: 20px"></th>
                    <th style="width:100px"> Order ID</th>
                    <th style="width:110px">Order No</th>
                    <th style="width:120px">Date</th>
                    <th style="width:150px">Complete Date</th>
                    <th style="width: 120px">Accept By</th>
                    <th style="width:120px">Order By</th>
                    <th style="width:200px">Store</th>
                    <th style="width:100px">QTY</th>
                    <th style="width:50%">Amount Total</th>
                    <th style="width: 50px">Note</th>
                </tr>
                <tr>
                    <td></td>
                    <td>10</td>
                    <td>1</td>
                    <td>30/08/2023</td>
                    <td>30/08/2023</td>
                    <td>Khuan</td>
                    <td>Boy</td>
                    <td>Mega DongDok</td>
                    <td>10</td>
                    <td>40,000,000 LAK</td>
                    <td><span class="material-symbols-outlined">
                            mode_comment
                        </span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>11</td>
                    <td>2</td>
                    <td>30/08/2023</td>
                    <td>30/08/2023</td>
                    <td>Khuan</td>
                    <td>Boy</td>
                    <td>Mega DongDok</td>
                    <td>15</td>
                    <td>60,000,000 LAK</td>
                    <td><span class="material-symbols-outlined note-green">
                            mode_comment
                        </span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>12</td>
                    <td>3</td>
                    <td>30/08/2023</td>
                    <td>30/08/2023</td>
                    <td>Khuan</td>
                    <td>Lar</td>
                    <td>Mega SuanMon</td>
                    <td>100</td>
                    <td>400,000,000 LAK</td>
                    <td><span class="material-symbols-outlined">
                            mode_comment
                        </span></td>
                </tr>
            </table>
        </div>
    </div>
</div>